.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #FF8EBD;
    padding: 1rem
}

.nav .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.list div a {
    color: whitesmoke;
}
